RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

Header always set Content-Security-Policy "upgrade-insecure-requests;"
Header set X-Frame-Options DENY
Header set Access-Control-Allow-Origin https://www.noblemantrucking.com

Options All -Indexes
RedirectMatch 403 /\..*$

<Files .htaccess>
order allow,deny
deny from all
</Files>
